@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Paleta de colores */
:root{
  --color-background: #060606;
  --color-modal: #10212f;
  --color-cards: #204c63;
  --color-text: #307997;
  --color-text2: #2ba2ca;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--color-text);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.OnlineWrapper {
  background: var(--color-background);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

/* styles.css del proyecto final */
/* styles.css */
.bay-background {
  background-color: var(--color-cards); /* Fondo azul oscuro */
  color: white; /* Texto claro */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  text-align: center; /* Centra el contenido */
}

.bay-background .row {
  display: flex;
  justify-content: space-between;
}

.bay-background .row p {
  margin: 5px 0; /* Margen entre párrafos */
}

.bay-background .inline-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%; /* Añadimos este estilo para que los elementos ocupen todo el ancho disponible */
}

/* Estilo para separar los labels "RUC" y "REGO" */
.bay-background .inline-labels {
  width: 40%; /* Para ocupar el 50% del ancho disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inline-labels p {
  text-align: center; /* Centrar el texto */
  margin: 5px 0; /* Margen entre párrafos */
}

.container {
  display: flex;
  width: 100%;
}

/* CSS para alinear el div que contiene el numero de Bay */
.number-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text2); /* Texto claro */
  font-size: 24px; /* Tamaño del número */
}

.number-container p {
  margin: 0;
}

.div-2, .div-3 {
  width: 80%;
}

.editable-item {
  /* border: 1px solid #ccc; */
  margin-bottom: 10px;
}

.inline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin: 5px 0; /* Margen entre párrafos */
}

.inline-item p {
  margin-bottom: 5px;
}

.inline-item input[type="text"] {
  width: 80px; /* Ancho específico para el input */
}

/* .OnlineContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1366px;
  margin: 0 auto;
} */

.bayContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
}



