@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

/* styles.css del proyecto final */
/* styles.css */
.dark-background {
  background-color: #232f3e; /* Fondo azul oscuro */
  color: #ffffff; /* Texto claro */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  text-align: center; /* Centra el contenido */
}

.dark-background .row {
  display: flex;
  justify-content: space-between;
}

.dark-background .row p {
  margin: 5px 0; /* Margen entre párrafos */
}

.dark-background .inline-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Añadimos este estilo para que los elementos ocupen todo el ancho disponible */
}

/* Estilo para separar los labels "RUC" y "REGO" */
.dark-background .inline-labels {
  width: 40%; /* Para ocupar el 50% del ancho disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inline-labels p {
  text-align: center; /* Centrar el texto */
  margin: 5px 0; /* Margen entre párrafos */
}

.container {
  display: flex;
  width: 100%;
}

/* CSS para alinear el div que contiene el numero de Bay */
.number-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; /* Texto claro */
  font-size: 24px; /* Tamaño del número */
}

.number-container p {
  margin: 0;
}

.div-2, .div-3 {
  width: 80%;
}

.red-text  {
  color: red;
}

.green-text  {
  color: green;
}
.editable-item {
  /* border: 1px solid #ccc; */
  margin-bottom: 10px;
}

.inline-item {
  display: inline-block;
  margin-right: 20px;
}
