/* Paleta de colores */
:root {
    --color-background: #07090D;
    --color-modal: #1E3030;
    --color-cards: #F0F2F2;
    --color-text: #36593F;
    --color-text2: #58735C;
}

.app {
    background: var(--color-background);
}

.OnlineContainer {
    background: var(--color-background);
    color: #F0F2F2;
    padding: 10px;
}

.title {
    text-align: center;
}

.bayContainer {
    background: var(--color-background);
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.editableItem {
    width: 300px;
    height: 185px;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--color-cards);
    display: flex;
    /* border: 1px solid red; */
}

.bayPosition {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px 0px 1px 1px solid rgb(119, 9, 9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 45px;
    padding: 10px;
    color: #FFFFFF;
    background: var(--color-modal);
}

.bayContent {
    flex: 4;
    display: flex;
    flex-direction: column;
    border: 1px 1px 1px 0px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.labels,
.buttons {
    width: 100%;
    /* Ocupan todo el ancho del contenedor */
}

.labels {
    flex-basis: 50%;
    justify-content: space-around;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.buttons button {
    height: 37px;
    width: 60px;
    padding: 6px 12px;
}

.bay {
    background: pink;
}

.labels dt,
.labels dd {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

/*CSS for Modal*/
.labels input {
    width: 70px;
}